<div class="container">
    <div data-columns="1" class="row">
        <div data-column="1" id="il1wwf" class="cell">
            <h2 class="section__title">FOLLOW US</h2>
            <div class="footer-socials">
                <a href="https://www.facebook.com/vonstrick/" target="_blank" title="Facebook" class="footer-link-svg" id="iw8nqq">
                    <img src="/images/icons/facebook.svg" height="80%" />
                </a>
                <a href="https://www.instagram.com/vonfitbjj_/" target="_blank" title="Instagram" class="footer-link-svg" id="iqahk4">
                    <img src="/images/icons/instagram.svg" height="80%" />
                </a>
                <a href="https://www.youtube.com/user/vonstrik09/" target="_blank" title="Youtube" class="footer-link-svg" id="iw68b2">
                    <img src="/images/icons/youtube.svg" height="80%" />
                </a>
                <a href="https://vonfitbjj.tumblr.com/" target="_blank" title="Youtube" class="footer-link-svg" id="iw68b2">
                    <img src="/images/icons/tumblr.svg" height="80%" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="footer-copyright" id="iz1427">© <%= brandName %>. All Rights Reserved</div>