<header id="ix3u" class="header3">
    <div id="imahj" class="container">
        <div data-columns="1" data-gjs="navbar" id="i3ch8" class="row">

            <div data-column="1" id="ikpx6" class="cell">
                <a href="##" id="iqj7y">
                    <span id="i7c95" class="brand-name"><%= brandName %></span>
                </a>
                
                <div id="iy7hy" class="burger">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </div>
            </div>

            <div data-column="1" id="iir1r" class="cell">
                <div data-gjs="navbar-items" class="menu-container">
                    
                    <%- include('nav.ejs') %>

                </div>
            </div>

        </div>
    </div>
</header>