<nav data-gjs="navs" class="menu">
    <a href="/" class="menu-link" id="ifjzh">Home</a>
    <a href="https://vonfitbjj.tumblr.com/" class="menu-link" id="i72s2b">Blog</a>
    <a href="/about" class="menu-link" id="icosi">About</a>
    <a href="/contact" class="menu-link" id="isjt6">Hit me Up</a>
</nav>