<nav data-gjs="navs" class="menu main-navigation">
    <ul>
        <li id="" class=""><a href="/">Home</a></li>
        <li id="" class=""><a href="http://localhost:85/wordpress/vonfitbjj-blog/">Blog</a></li>
        <li id="" class=""><a href="http://localhost:85/wordpress/vonfitbjj-blog/about/">About</a></li>
        <li id="" class=""><a href="/contact">Hit me Up</a></li>
    </ul>  
</nav>