<div id="id2vij" class="container">
    <h1 class="header__title" id="it8wdo"><%= subTitle %></h1>

    <div class="header__subtitle" id="i4vmkp">
        <%= subDescription %>
    </div>
    
    <a href=<%= subURL %> class="button1" id="i3jtiy"><%= subscribeBtn %></a>
</div>